# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
dist/
build/
.eggs/
*.log
*.spec
*.bin
*.xlsx
*.lock
*.exe

# VSCode
.vscode/
*.code-workspace

# Jupyter
*.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db
desktop.ini

# 环境/依赖
.env
.venv/
env/
venv/
.idea/
.Python
output/
data/

# 临时文件
*.bak
*.tmp
*.swp
*.swo
*.csv


# 单元测试缓存
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
